body {
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.Header {
  background-color: violet;
  height: 100px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.Horizontal {
  display: flex;
  align-items: flex-start;
  height: 650px;
}

.head_Left_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
  box-sizing: border-box;
}

.Left_page {
  box-sizing: border-box;
  width: 100%;
  border: 4px double #000;
  margin: auto;
  height: 40px;
  font-size: 18px;
  align-items: center;
  display: flex;
  padding-left: 2%;
  background-color: greenyellow;
}

.head_Middle_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  background-color: lightcoral;
  height: 100%;
  padding: 5px;
}

.head_Right_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
}

.footer {
  background-color: violet;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1 {
  font-size: 30px;
  font-weight: bold;
}

.p2 {
  font-size: 20px;
  font-weight: bold;
}
